---
base: "[[STACK Wiki.base]]"
Tags: []
Created time: 2023-05-12T18:00:00
Last edited time: 2025-05-15T13:23:00
Verification: unverified
Owner:
  - David Nuckolls
---
> [!tip] 💡
> Notion Tip: When creating a page, it's important to give it a clear title and provide some content. This could include verifying the information, summarizing the topic, or sharing your thoughts and opinions on something that matters to you.

> [!tip] 💡
> Notion Tip: An owner of a page can verify it by clicking on the verification button above and choosing to verify the page for either a set amount of time or indefinitely!
